.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--text-medium);
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-family-sans);
}

.formGroup textarea {
  min-height: 80px;
  resize: vertical;
}

.priceGroup {
  display: flex;
  gap: 1rem;
}

.priceGroup > .formGroup {
  flex: 1; /* Ocupa metade do espaço */
}

.saveButton {
  background-color: var(--secondary-color); /* Verde */
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.saveButton:hover {
  background-color: #006952;
}