.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  
  /* --- MUDANÇA AQUI --- */
  /* max-width: 500px; */ /* <-- Comente ou delete */
  max-width: 700px; /* <-- Adicione esta linha */
  
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--border-color);
}

.header h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.closeButton {
  background: transparent;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--text-light);
  padding: 0;
  display: flex;
}
.closeButton:hover {
  color: var(--text-dark);
}

.content {
  padding: 1.5rem;
}